<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.jaspervanriet.huntingthatproduct"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.CommentsActivity"
            android:theme="@style/AppTheme.ChildActivity"
            />

        <activity
            android:name=".Activities.WebActivity"
            android:theme="@style/AppTheme.ChildActivity"
            />

        <activity android:name=".Activities.CollectionsListActivity"
            />

        <activity
            android:name=".Activities.CollectionActivity"
            android:theme="@style/AppTheme.ChildActivity"
            />

        <activity
            android:name=".Activities.Settings.SettingsActivity"
            />

        <activity
            android:name=".Activities.AboutActivity"
            />
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>
